@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Explore a vast collection of books across various genres, authored by talented writers from around the world. Dive into the world of literature today!</p>
</div>
